
.logo {
    width: 100%;
    height: auto;
}

.card {
    border-radius: 20px;
}

.dropdown-item:hover{
    color: red;
}

a{
    color: #000000;
    font-size: 15px;
}

h1 {
    font-size: 52px;
}

.texto {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.titulo-carrossel {
    margin-top: 4.5rem;
    margin-left: 1%;
    
}

.item-a > a {
    text-decoration: none;
}

.box {
    height: 430px;
}

.box:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.300);
}

.box:hover h1{
    color:rgb(25, 95, 170);
}
.box:hover h4{
    color:rgb(25, 95, 170);
}

a:hover {
    text-decoration: none;
}

.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rodape {
    margin-bottom: 0px;
    margin-top: 25px;
    color: white;
    font-size: 1.20rem;
    text-align: center;
}

.caroussel {
    height: 380px;
}

.short-title > p {
    color: #a6a6a6
}

section {
    margin-top: 2.0rem;
    margin-bottom: 100px;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}
.callout + .bs-callout {
    margin-top: -5px;
}

.callout-default {
    border-left-color: #777;
}
.callout-default h4 {
    color: #777;
}

.callout-primary {
    border-left-color: #428bca;
}
.callout-primary h4 {
    color: #428bca;
}

.callout-success {
    border-left-color: #5cb85c;
}
.callout-success h4 {
    color: #5cb85c;
}

.callout-danger {
    border-left-color: #d9534f;
}
.callout-danger h4 {
    color: #d9534f;
}

.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}

.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}

.callout-bdc {
    border-left-color: #29527a;
}
.callout-bdc h4 {
    color: #29527a;
}
  